PORT=5000
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key
MONGODB_URI=mongodb+srv://ragurameee24:txPABzi3aoVftPAX@cluster0.uktu2j0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# ImageKit.io Configuration
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key_here
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key_here
IMAGEKIT_URL_ENDPOINT=your_imagekit_url_endpoint_here
